/* Autor: Arne Schaper */
:host {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 10;
  position: sticky;
  top: 0;
  margin: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
  padding-bottom: 0px;
  background-color: var(--app-color-first);
  color: white;
}

.logo {
  /* Center Logo (50px wide) -> 25px + 10px padding left of header*/
  margin-left: calc(50% - 35px);
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

a:hover {
  color: var(--app-error-color);
}

ol {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

ol a {
  padding: 0 0.5rem 0 0;
  display: inline-block;
}

@media (max-width: 500px) {
  /* mobile layout*/
  ol {
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
  }

  /* Ensure last redirect is not bottom of opened menu/header*/
  ol:last-child {
    margin-bottom: 10px;
  }

  ol a {
    padding-top: 0.75rem;
  }

  ol:not([open]) {
    display: none;
  }

  /* Space between redirects */
  li:first-child a {
    padding-top: 16px;
  }
  li:last-child a {
    padding-bottom: 0;
  }

  .menu-button {
    display: inline;
    font-size: 1.25rem;
    user-select: none;
    padding: 0;
    margin: 0;
    line-height: 1.25rem;
  }

  .menu-button::before {
    content: '☰';
  }

  .menu-button:not(:disabled) {
    cursor: pointer;
  }
}
