/* Autor: Arne Schaper */

.header {
  top: 0;
  width: 100%;
  display: inline-block;
  position: sticky;
  background-color: #315895;
  z-index: 10;
}

.innerHeader {
  height: 50px;
  display: flex;
  margin: 0 auto;
  line-height: 50px;
}

.logoContainer {
  display: inline-block;
  margin-left: calc(50% - 25px);
}

.navigation {
  display: flex;
  margin-left: auto;
}

ol {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

ol a {
  padding: 0 0.5rem 0 0;
  display: inline-block;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  justify-content: center;
}

a li {
  text-align: center;
  vertical-align: bottom;
}

a:hover {
  color: #83a5c2;
}
