/* Button used to open the create activity form */

:host {
  width: 50%;
}

.open-button {
  background-color: var(--app-color-first);
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 8px;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
}

.form-container {
  width: 100%;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: relative;
}

input,
select {
  display: block;
  padding: 10px 6px;
  width: 100%;
  border-radius: 8px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgb(168, 168, 168);
}

select:focus {
  background-color: var(--app-color-first);
  color: var(--app-color-background);
  outline: none;
}

/* Full-width input fields */
.form-container input[type='text'],
.form-container input[type='password'] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  border-radius: 8px;
  border-bottom: 1px solid rgb(168, 168, 168);
}

/* When the inputs get focus..*/
.form-container input[type='text']:focus,
.form-container input[type='password']:focus {
  background-color: var(--app-color-first);
  outline: none;
}

/* Set style for create-activity button */
.form-container .btn {
  background-color: var(--app-color-first);
  border-radius: 8px;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: var(--app-color-third);
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

@media (max-width: 680px) {
  :host {
    width: 100%;
  }
  .open-button {
    background-color: var(--app-color-first);
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 0;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
  }

  .form-container .btn {
    background-color: var(--app-color-first);
    border-radius: 0;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
  }

  .form-container .cancel {
    background-color: var(--app-color-third);
  }
}
