/* Autor: Jonathan Hüls */

:root {
  --app-primary-color: #315895;
  --app-error-color: #bf7f9b;
  --app-bright-color: #83a5c2;
  --app-dark-color: #04204a;

  --app-color-first: #315895;
  --app-color-second: #83A5C2;
  --app-color-third: #BF7F9B;
  --app-color-fourth: #04204A;
  
  --app-color-dark-first: #EEB76B;
  --app-color-dark-second: #E2703A;
  --app-color-dark-third: #9C3D54;
  --app-color-dark-fourth: #310B0B;

  --app-color-background: azure;

  --app-footer-height: 153px;
}
  
  /*for darkmode for OS-preferences*/
@media (prefers-color-scheme: dark) {
    :root{
      --app-color-first: var(--app-color-dark-first);
      --app-color-second: var(--app-color-dark-second);
      --app-color-third: var(--app-color-dark-third);
      --app-color-fourth: var(--app-color-dark-fourth);
    }
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  padding-bottom: var(--app-footer-height, 153px);

  align-content: center;
  align-items: center;
  justify-content: center;
}


/* fordarkmode through Button*/
body.dark{
  --app-color-first: var(--app-color-dark-first);
  --app-color-second: var(--app-color-dark-second);
  --app-color-third: var(--app-color-dark-third);
  --app-color-fourth: var(--app-color-dark-fourth);
}

