.slider {
  width: 100%;
  height: 15px;
  border-radius: 7px;
  background: var(--app-color-second);
  opacity: 0.7;
  transition: opacity 0.2s;
}

#personalSlider:hover {
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  box-shadow: 2px 2px 1px #c4c3c3;
}

.outer-rating {
  width: 100%;
}

#deleteButton:hover {
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  box-shadow: 2px 2px 1px #c4c3c3;
}

p {
  margin-bottom: 8px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--app-color-dark-second);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--app-color-first);
  cursor: pointer;
}

#overallRating {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 15px;
  border-radius: 7px;
  background: var(--app-color-fourth);
  opacity: 0.7;
  transition: opacity 0.2s;
}

#overallRating:hover {
  cursor: not-allowed;
}

img {
  width: 60px;
  height: 50px;
}
