/* Arne Schaper */
.activity-outer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.outer-rating {
  width: 100%;
}

.create-activity {
  width: 100%;
}

.rating {
  flex-wrap: wrap;
}

.activity:nth-child(even) {
  margin-left: 16px;
}

.activity-container {
  /* Change flex direction to column when too small*/
  margin-top: 16px;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 46%;
}

.activity-container:last-child {
  margin-bottom: 16px;
}

.activity-header {
  margin-top: 8px;
  background-color: var(--app-color-third);
  border-radius: 8px;
  align-items: center;

  width: 50%;
  height: 48px;
  display: inline-flex;
  justify-content: center;
}

/* Filter CSS */
.filterDiv {
  float: left;
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none;
}

.show {
  display: block;
}

.container {
  margin-top: 20px;
  overflow: hidden;
}

/* Style buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #d0dbdf;
  cursor: pointer;
  border-radius: 8px;
}

.btn:hover {
  background-color: var(--app-color-second);
}

@media (max-width: 1200px) {
  :host {
    width: 100%;
  }

  .activity-header {
    background-color: var(--app-color-third);
    border-radius: 8px;
    align-items: center;

    width: 50%;
    height: 48px;
    display: inline-flex;
    justify-content: center;
  }

  .activity-container {
    /* Change flex direction to column when too small*/
    margin-top: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
}

@media (max-width: 680px) {
  .activity-header {
    background-color: var(--app-color-third);
    border-radius: 0;
    align-items: center;

    width: 100%;
    height: 48px;
    display: inline-flex;
    justify-content: center;
  }

  .activity:nth-child(2n) {
    margin-left: 0;
  }

  .create-activity {
    width: 100%;
  }

  .activity-container {
    /* Change flex direction to column when too small*/
    margin-top: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
