/* Arne Schaper */
.activity-outer {
  text-align: center;
}

.activity-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.activity-header {
  background-color: pink;
  border-radius: 0.5rem;
  align-items: center;

  min-width: 40rem;
  height: 3rem;
  display: inline-flex;
  justify-content: center;
}
