body{
    background-color: azure;
}

.meeting{
    text-align: center;
}

.meeting:not(:defined) {
    display: none;
}

.meet-header{
    display: inline-flex;
    background-color: pink;
    border-radius: 0.35rem; 

    justify-content: space-between;
    align-items: center;

    min-width: 40rem;
    padding: 0rem 2rem;
    
}
.meetName{
    border-style: none;
    background: transparent;

    font-size: 22px;
    font-weight: bold; 
    margin: 0.5rem;
}

.meet-Delete{
    font-weight: 200;
    border: 2px black solid;
    border-radius: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 1;
    transition: width ease-in-out 0.3s;
    display: flex;
    
    cursor: pointer;
    min-width: 2rem;
    min-height: 2rem;
}


.meet-Delete:hover{

    background-color: lightgray;
    -webkit-box-shadow: 6px 8px 12px -1px rgba(0,0,0,0.36); 
    box-shadow: 6px 8px 12px -1px rgba(0,0,0,0.36);
    
}

.meetingUsers{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.routeBtn{
    background-color: #315895;

    cursor: pointer;
    text-decoration: none;
    color: rgb(255, 255, 255);
    justify-content: center;

    transition: wid;

    min-width: 2rem;
    min-height: 1rem;
    margin: 0.5rem;
    border-radius: 1rem;
}

.routeBtn:hover{
    -webkit-box-shadow: 6px 8px 12px -1px rgba(0,0,0,0.36); 
    box-shadow: 6px 8px 12px -1px rgba(0,0,0,0.36);
}