/*mobile*/
.meeting {
  max-width: 100%;
  text-align: center;
  box-sizing: border-box;
}

.meeting * {
  box-sizing: border-box;
}

/* tablets
@media (min-width:768px){
    .meeting{
        max-width: 768px;
        text-align: center;   
    }
}
*/

h3 {
  color: var(--app-color-first);
}

.meeting:not(:defined) {
  display: none;
}

.meet-header {
  box-sizing: border-box;

  display: inline-flex;
  position: relative;
  background-color: var(--app-color-third, #bf7f9b);
  border-radius: 16px;

  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 8px 16px;

  margin-top: 8px;
}

.meetName {
  border-style: none;
  background: transparent;
  margin-top: 8px;
  font-size: 22px;
  font-weight: bold;
  margin: 8px;
}

.meet-Delete {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);

  font-weight: 200;
  border: 2px black solid;
  border-radius: 16px;
  text-align: center;
  justify-content: center;
  align-items: center;
  line-height: 1;
  transition: width ease-in-out 0.3s;
  display: flex;

  cursor: pointer;
  min-width: 32px;
  min-height: 32px;
}

.meet-Delete:hover {
  background-color: lightgray;
  -webkit-box-shadow: 6px 8px 12px -1px rgba(0, 0, 0, 0.36);
  box-shadow: 6px 8px 12px -1px rgba(0, 0, 0, 0.36);
}

.centerMates {
  display: flex;
  justify-content: center;
  width: 100%;
}

.meetingUsers {
  width: 95%;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

/* Style buttons */
.routeBtn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #d0dbdf;
  cursor: pointer;
  border-radius: 8px;
  margin-bottom: 16px;
}

.routeBtn:hover {
  background-color: var(--app-color-second);
}

.chat {
  width: 80%;
  border-radius: 16px;
}

.activity-container {
  /* Change flex direction to column when too small*/
  margin-top: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 32px;
}

.activity-container:last-child {
  margin-bottom: 16px;
}
