body{
    background-color: var(--app-color-background);
}

/*mobile*/
.meeting{
    max-width: 100%;
    text-align: center;   
    box-sizing: border-box;
}

.meeting * {
    box-sizing: border-box;
}

/* tablets
@media (min-width:768px){
    .meeting{
        max-width: 768px;
        text-align: center;   
    }
}
*/


.meeting:not(:defined) {
    display: none;
}

.meet-header{

    box-sizing:border-box;

    display: inline-flex;
    position: relative;
    background-color: var(--app-color-third, #BF7F9B);
    border-radius: 16px; 

    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 8px 16px;
}


.meetName{
    border-style: none;
    background: transparent;

    font-size: 22px;
    font-weight: bold; 
    margin: 8px;
}

.meet-Delete{

    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);

    font-weight: 200;
    border: 2px black solid;
    border-radius: 16px;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 1;
    transition: width ease-in-out 0.3s;
    display: flex;
    
    cursor: pointer;
    min-width: 32px;
    min-height: 32px;
}


.meet-Delete:hover{

    background-color: lightgray;
    -webkit-box-shadow: 6px 8px 12px -1px rgba(0,0,0,0.36); 
    box-shadow: 6px 8px 12px -1px rgba(0,0,0,0.36);
    
}

.centerMates{
    display: flex;
    justify-content: center;
    width: 100%;
}

.meetingUsers{
    width: 95%;
    display: flex;
    align-items: stretch;
    flex-direction: column;    
}

.routeBtn{
    background-color: #315895;

    cursor: pointer;
    text-decoration: none;
    color: rgb(255, 255, 255);
    justify-content: center;

    transition: wid;

    min-width: 15%;
    min-height: 5%;
    margin: 8px;
    border-radius: 16px;
}

.routeBtn:hover{
    -webkit-box-shadow: 6px 8px 12px -1px rgba(0,0,0,0.36); 
    box-shadow: 6px 8px 12px -1px rgba(0,0,0,0.36);
}