.h3{
    font-weight: bold;
    font-size: 16px;
}

.meetingUser{
    display: flex;
    background-color: var(--app-color-second, lightgray);
    border-radius: 16px;
    width: 100%;
    transition: width 0.3s ease-in-out;

    align-items: center;
    cursor: pointer;
    margin: 8px 0;
    vertical-align: middle;

}

/*
.meetingUser:hover{
    -webkit-box-shadow: 6px 8px 12px -1px rgba(0,0,0,0.36); 
    box-shadow: 6px 8px 12px -1px rgba(0,0,0,0.36);
    width: 40rem;

}
*/

.meetingUser > img{
    border-radius: 16px;
    max-width: 32px;
    max-height: 32px;
    min-width: 32px;

    flex-shrink: 0;
}

.meetingUser > *{
    margin: 8px;
}

.mateAge {
    font-style: italic;
}