.message{
    background-color: aquamarine;
    width: fit-content;
    border-radius: 0.3rem 1rem 2rem 3rem;
    margin: 0.5rem;
    text-align: left;
    padding: 1rem;
    padding-top: 0.5rem;
    justify-content: flex-start;

    display: flex;
    flex-direction: column;

}

.message > * {
    display: flex;
    
}

.message[ownMessage="true"]{
    background-color: pink;
    text-align: right;
    border-radius: 1rem 0.3rem 2rem 3rem;
    float:right;
}
.message[ownMessage="true"] > .messageHeader{
    visibility: hidden;
}

