h2 {
    line-height: 1;
}
.meet:not(:defined) {
    display: none;
}
.meet
{
    min-width: 60%;


    background-color: var(--app-color-second, #315895);
    margin: 16px;
    border-radius: 20px;
    
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    transition: ease-in 0.3s;

    cursor: pointer;
}

.meet:hover{
    -webkit-box-shadow: 6px 8px 12px -1px rgba(0,0,0,0.36); 
    box-shadow: 6px 8px 12px -1px rgba(0,0,0,0.36);
    min-width: 80%;
    transition: ease-out 0.3s;

}



.meet > * {
    margin: 3.2px;
}

.meet > .name{
    margin: 0px 16px;
}

.userIcon {
    display: inline-flex;
    align-items: center;
}

img{
    border-radius: 16px;
    min-width: auto;
    min-height: auto;

    max-width: 24px;
    max-height: 24px;
}
